<!-- ========== HEADER ========== -->
  <header id="header" class="u-header u-header--abs-top-md u-header--bg-transparent-md u-header--white-nav-links-md">
    <div class="u-header__section">
      <div id="logoAndNav" class="container">
        <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
          <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-default u-header__navbar-brand-text-white"
            href="index.html" aria-label="Pockt">
            <img src="../../../assets/images/pockt-white.png" alt="">
          </a>
          <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-collapsed"
            href="index.html" aria-label="Pockt">
            <img src="../../../assets/images/pockt.png" alt="">
          </a>
          <button type="button" class="navbar-toggler btn u-hamburger" aria-label="Toggle navigation"
            aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
            <span id="hamburgerTrigger" class="u-hamburger__box">
              <span class="u-hamburger__inner"></span>
            </span>
          </button>
          <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
            <ul class="navbar-nav u-header__navbar-nav">
              <!-- Home -->
              <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp"
                data-animation-out="fadeOut" data-position="left">
                <a class="nav-link u-header__nav-link"
                  aria-haspopup="true" aria-expanded="false">Home</a>
              </li>
              <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp"
                data-animation-out="fadeOut" data-position="left">
                <a class="nav-link u-header__nav-link"
                  aria-haspopup="true" aria-expanded="false">About</a>
              </li>
              <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp"
                data-animation-out="fadeOut" data-position="left">
                <a class="nav-link u-header__nav-link"
                  aria-haspopup="true" aria-expanded="false">Testimonials</a>
              </li>
              <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp"
                data-animation-out="fadeOut" data-position="left">
                <a class="nav-link u-header__nav-link"
                  aria-haspopup="true" aria-expanded="false">Clients</a>
              </li>
              <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp"
                data-animation-out="fadeOut" data-position="left">
                <a class="nav-link u-header__nav-link"
                  aria-haspopup="true" aria-expanded="false">Pricing</a>
              </li>
              <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp"
                data-animation-out="fadeOut" data-position="left">
                <a class="nav-link u-header__nav-link"
                  aria-haspopup="true" aria-expanded="false">Features</a>
              </li>
  
              <!-- Button -->
              <li class="nav-item u-header__nav-last-item">
                <a class="btn btn-sm btn-sm-wide btn-white btn-pill text-primary shadow-soft transition-3d-hover"
                  href="https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/" target="_blank">
                  Login
                </a>
              </li>
              <!-- End Button -->
            </ul>
          </div>
          <!-- End Navigation -->
        </nav>
        <!-- End Nav -->
      </div>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->
  
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Hero Section -->
    <div id="SVGHero" class="svg-preloader position-relative bg-white overflow-hidden">
      <div class="container position-relative z-index-2 space-top-2 space-bottom-3 space-top-md-4">
        <div class="row align-items-lg-center">
          <div class="col-lg-5 mb-11 mb-lg-0">
            <!-- Info -->
            <div class="mb-6">
              <h1 class="text-white font-weight-semi-bold mb-3">
                Get paid in real-time
                <span class="text-indigo">
                  <strong class="u-text-animation u-text-animation--typing"></strong>
                </span>
                <br>
                
              </h1>
              <p class="text-white-70">Whether you are looking to sell on social media, your site or simply want to accept payments, Pockt allows you to get paid easily so you can scale your business</p>
            </div>
            <a class="btn btn-indigo btn-wide btn-pill transition-3d-hover mb-2 mb-sm-0" href="#">Create a free account</a>
            <!-- End Info -->
          </div>
  
          <div class="col-lg-7">
            <div class="position-relative">
              <!-- SVG Laptop Mockup -->
              <figure class="ie-devices-v4-laptop mb-3 mb-sm-0">
                <img class="js-svg-injector" src="../../assets/svg/components/laptop.svg" alt="Image Description"
                  data-img-paths='[
                         {"targetId": "#SVGlaptopImg1", "newPath": "../../assets/img/1618x1010/img3.jpg"}
                       ]' data-parent="#SVGHero">
              </figure>
              <!-- SVG Laptop Mockup -->
  
              <!-- Card Info -->
              <div class="position-sm-absolute bottom-0 right-0 max-width-40 ml-auto mb-sm-n5">
                <div class="card border-0 bg-primary shadow-primary-lg rounded p-5">
                  <h2 class="h5 text-white font-weight-semi-bold mb-3">Discover why 100K<br>merchants love us</h2>
  
                  <p class="text-info">Pockt reduced our payment implementation cycle from a typical 2 weeks to 2 mins. Its automagical!</p>
  
                  <!-- Avatar -->
                  <div class="media align-items-center">
                    <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle mr-2">
                      <img class="img-fluid rounded-circle" src="../../assets/img/32x32/img6.jpg" alt="Image Description">
                    </div>
                    <div class="media-body">
                      <h3 class="font-size-1 text-white font-weight-medium mb-0">Raphael Olston</h3>
                      <small class="d-block text-light font-weight-light">@Just_Boute</small>
                    </div>
                  </div>
                  <!-- End Avatar -->
                </div>
              </div>
              <!-- Enc Card Info -->
            </div>
          </div>
        </div>
      </div>
  
      <!-- SVG Background Shape -->
      <div class="gradient-overlay-half-primary-v3 svg-divider-polygon position-absolute top-0 right-0 bottom-0 left-0">
        <figure class="ie-circles-hero">
          <img class="js-svg-injector d-none d-lg-block" src="../../assets/svg/components/circles.svg"
            alt="Image Description" data-parent="#SVGHero">
        </figure>
      </div>
      <!-- End SVG Background Shape -->
    </div>
    <!-- End Hero Section -->
  
    <!-- Features Section -->
    <div class="container space-2 space-top-lg-3">
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-5 mb-9 mb-lg-0">
          <div class="mb-5">
            <h2 class="font-weight-medium mb-4">Payment for the rest of us</h2>
            <p>Most payment solutions are developed by developers for developers. We're helping micro-merchants accept digital payments without learning to code or hiring a developer.</p>
          </div>
  
          <div class="w-md-50 w-lg-80 mb-2">
            <!-- Fancybox -->
            <div class="bg-img-hero text-center rounded py-11 px-5"
              style="background-image: url(../../assets/img/480x320/img30.jpg);">
              <a class="js-fancybox d-inline-block u-media-player" href="javascript:;" data-src="//vimeo.com/167434033"
                data-speed="700" data-animate-in="zoomIn" data-animate-out="zoomOut"
                data-caption="Front - Responsive Website Template">
                <span class="u-media-player__icon">
                  <span class="fas fa-play u-media-player__icon-inner"></span>
                </span>
              </a>
            </div>
            <!-- End Fancybox -->
          </div>
  
          <p class="small">See how to receive money with Pockt.</p>
        </div>
  
        <div class="col-lg-6">
          <div id="featuresSVG" class="svg-preloader position-relative max-width-50 mx-auto">
            <!-- SVG Phone Mockup -->
            <div class="w-75 u-devices-v2__phone-svg shadow-sm mx-auto">
              <figure class="ie-iphone-x-1">
                <img class="js-svg-injector" src="../../assets/svg/components/iphone-x-1.svg" alt="Image Description"
                  data-img-paths='[
                         {"targetId": "#SVGiphoneX1Img1", "newPath": "../../assets/img/407x867/img1.jpg"}
                       ]' data-parent="#featuresSVG">
              </figure>
            </div>
            <!-- End SVG Phone Mockup -->
  
            <!-- SVG Component -->
            <div class="position-absolute bottom-0 right-0 max-width-50 w-100 z-index-n1 mx-auto">
              <figure class="ie-abstract-shapes-12">
                <img class="js-svg-injector" src="../../assets/svg/components/abstract-shapes-12.svg"
                  alt="Image Description" data-parent="#featuresSVG">
              </figure>
            </div>
            <!-- End SVG Component -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Features Section -->
  
    <!-- Features Section -->
    <div class="container space-2 space-top-lg-3">
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-5 order-lg-2 mb-9 mb-lg-0">
          <div class="mb-5">
            <h2 class="font-weight-medium mb-4">Thrive in the global digital economy</h2>
            <p>Create your pockt.me link, share it, and start receiving money for your work. Split a bill with friends, donate to your favourite charity or accept and disburse money from customers globally. </p>
          </div>
  
          <h4 class="h6 mb-3">Mobile apps (Coming soon)</h4>
          <a class="btn btn-icon btn-indigo rounded-circle mr-2" href="#">
            <span class="fab fa-apple btn-icon__inner"></span>
          </a>
          <a class="btn btn-icon btn-indigo rounded-circle" href="#">
            <span class="fab fa-google-play btn-icon__inner"></span>
          </a>
        </div>
  
        <div class="col-lg-6 order-lg-1">
          <div id="featuresSVG2" class="svg-preloader position-relative max-width-50 mx-auto">
            <!-- SVG Phone Mockup -->
            <div class="w-75 u-devices-v2__phone-svg shadow-sm mx-auto">
              <figure class="ie-iphone-x-1">
                <img class="js-svg-injector" src="../../assets/svg/components/iphone-x-2.svg" alt="Image Description"
                  data-img-paths='[
                         {"targetId": "#SVGiphoneX2Img1", "newPath": "../../assets/img/407x867/img2.jpg"}
                       ]' data-parent="#featuresSVG2">
              </figure>
            </div>
            <!-- End SVG Phone Mockup -->
  
            <!-- SVG Component -->
            <div class="position-absolute bottom-0 left-0 right-0 max-width-50 w-100 z-index-n1 mx-auto mb-n5">
              <figure class="ie-abstract-shapes-12">
                <img class="js-svg-injector" src="../../assets/svg/components/abstract-shapes-13.svg"
                  alt="Image Description" data-parent="#featuresSVG2">
              </figure>
            </div>
            <!-- End SVG Component -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Features Section -->
  
    <!-- Features Section -->
    <div class="container space-2 space-top-lg-3">
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-5 mb-9 mb-lg-0">
          <div class="mb-4">
            <h2 class="font-weight-medium mb-4">Built to help your business scale further-faster</h2>
            <p></p>
          </div>
  
          <ul class="list-unstyled">
            <li class="media">
              <span class="btn btn-icon btn-xs btn-indigo rounded-circle mt-1 mr-3">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p>Get started in just minutes</p>
              </div>
            </li>
            <li class="media">
              <span class="btn btn-icon btn-xs btn-indigo rounded-circle mt-1 mr-3">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p>No setup, monthly or any hidden fees.
                </p>
              </div>
            </li>
            <li class="media">
              <span class="btn btn-icon btn-xs btn-indigo rounded-circle mt-1 mr-3">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p>Shareable payment links
                </p>
              </div>
            </li>
            <li class="media">
              <span class="btn btn-icon btn-xs btn-indigo rounded-circle mt-1 mr-3">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p>Embeddable checkout forms
                </p>
              </div>
            </li>
            <li class="media">
              <span class="btn btn-icon btn-xs btn-indigo rounded-circle mt-1 mr-3">
                <span class="fas fa-check btn-icon__inner"></span>
              </span>
              <div class="media-body">
                <p>Comprehensive API libraries and SDKs
                </p>
              </div>
            </li>
          </ul>
        </div>
  
        <div class="col-lg-6">
          <div id="featuresSVG3" class="svg-preloader position-relative max-width-50 mx-auto">
            <!-- SVG Phone Mockup -->
            <div class="w-75 u-devices-v2__phone-svg shadow-sm mx-auto">
              <figure class="ie-iphone-x-1">
                <img class="js-svg-injector" src="../../assets/svg/components/iphone-x-3.svg" alt="Image Description"
                  data-img-paths='[
                         {"targetId": "#SVGiphoneX3Img1", "newPath": "../../assets/img/407x867/img3.jpg"}
                       ]' data-parent="#featuresSVG3">
              </figure>
            </div>
            <!-- End SVG Phone Mockup -->
  
            <!-- SVG Component -->
            <div class="content-centered-y left-0 right-0 max-width-50 w-100 z-index-n1 mx-auto">
              <figure class="ie-abstract-shapes-12">
                <img class="js-svg-injector" src="../../assets/svg/components/abstract-shapes-14.svg"
                  alt="Image Description" data-parent="#featuresSVG3">
              </figure>
            </div>
            <!-- End SVG Component -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Features Section -->
  
    <!-- Pricing Section -->
    <div class="container space-2 space-lg-3">
      <!-- Title -->
      <div class="w-lg-50 text-center mx-lg-auto mb-9">
        <h2 class="font-weight-medium mb-4">Always know what you'll pay.</h2>
        <p>Once you're setup, instantly withdraw payments or deposit into your bank account within 2-3 business days.</p>
      </div>
      <!-- End Title -->
  
      <!-- Pricing -->
      <div class="row no-gutters align-items-lg-center mb-11">
        <div class="col-lg-7 shadow-lg rounded">
          <div class="text-center py-11 px-5 px-sm-9">
            <header class="mb-9">
              <div class="mb-1">
                <span class="display-4 text-primary font-weight-medium">3.5%</span>
                <span class="badge badge-indigo badge-pill align-top ml-1">+0.5 USD</span>
              </div>
              <p>per successful transaction</p>
            </header>
  
            <div class="row justify-content-sm-center align-items-sm-center mb-5">
              <div class="col-sm-5">
                <!-- Icon Block -->
                <figure id="iconAccount" class="svg-preloader ie-height-56 max-width-8 mx-auto mb-2">
                  <img class="js-svg-injector" src="../../assets/svg/illustrations/account-creation.svg" alt="SVG"
                    data-parent="#iconAccount">
                </figure>
                <h4 class="h6">Personal Profile</h4>
                <!-- End Icon Block -->
              </div>
  
              <div class="col-sm-1 my-3 my-sm-0">
                <span class="font-size-3 text-primary font-weight-medium">+</span>
              </div>
  
              <div class="col-sm-5">
                <!-- Icon Block -->
                <figure id="iconProAccount" class="svg-preloader ie-height-56 max-width-8 mx-auto mb-2">
                  <img class="js-svg-injector" src="../../assets/svg/illustrations/pro-account.svg" alt="SVG"
                    data-parent="#iconProAccount">
                </figure>
                <h4 class="h6">Merchant account</h4>
                <!-- End Icon Block -->
              </div>
            </div>
  
            <div class="mb-7">
              <p class="small">Included for 3 months,<br>then $2.5/monthly included VAT</p>
            </div>
  
            <button type="button" class="btn btn-primary btn-wide btn-pill transition-3d-hover">Get Started</button>
          </div>
        </div>
  
        <div class="col-lg-5 bg-primary">
          <div class="py-9 px-5 px-sm-9">
            <!-- Info -->
            <ul class="list-unstyled">
              <li class="media pb-3">
                <span class="btn btn-icon btn-xs btn-soft-white rounded-circle mt-1 mr-3">
                  <span class="fas fa-angle-right btn-icon__inner"></span>
                </span>
                <div class="media-body">
                  <h4 class="h6 text-white mb-1">10+ currencies</h4>
                  <p class="text-white-70">Process charges and display prices in your customer's currency.</p>
                </div>
              </li>
              <li class="border-top opacity-md py-3"></li>
              <li class="media">
                <span class="btn btn-icon btn-xs btn-soft-white rounded-circle mt-1 mr-3">
                  <span class="fas fa-angle-right btn-icon__inner"></span>
                </span>
                <div class="media-body">
                  <h4 class="h6 text-white mb-1">Global support</h4>
                  <p class="text-white-70">Businesses in 177+ countries can accept payments.</p>
                </div>
              </li>
              <li class="border-top opacity-md py-3"></li>
              <li class="media">
                <span class="btn btn-icon btn-xs btn-soft-white rounded-circle mt-1 mr-3">
                  <span class="fas fa-angle-right btn-icon__inner"></span>
                </span>
                <div class="media-body">
                  <h4 class="h6 text-white mb-1">Secure payment info collection</h4>
                  <p class="text-white-70 mb-0">Use our libraries to collect payment information without sensitive data.
                  </p>
                </div>
              </li>
            </ul>
            <!-- End Info -->
          </div>
        </div>
      </div>
      <!-- End Pricing -->
  
      <!-- CTA -->
      <div class="w-lg-75 mx-lg-auto">
        <div class="media d-block d-sm-flex">
          <figure id="iconGrowingBusiness" class="svg-preloader ie-height-90 w-100 max-width-15 mr-4 mb-3 mb-sm-0">
            <img class="js-svg-injector" src="../../assets/svg/illustrations/growing-business.svg" alt="SVG"
              data-parent="#iconGrowingBusiness">
          </figure>
          <div class="media-body">
            <h4 class="h6">Serving small merchants. Unlock financial inclusion</h4>
            <p>Over 180 million small merchants operating in the developing world interact with 4.5 billion customer every day and transact $6.5 trillion per year globally. Fewer than 10% of small merchant in the developing world accept digital payment representing $35 billion in missed revenue every year.  
              <a href="#">
                Partner with us
                <span class="fas fa-angle-right ml-1"></span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <!-- End CTA -->
    </div>
    <!-- End Pricing Section -->
  
    <!-- Testimonials Section -->
    <div class="border-top">
      <div class="container space-2 space-top-lg-3">
        <!-- Title -->
        <div class="w-lg-50 mb-9">
          <h2 class="font-weight-medium">Loved by business and individuals across the globe.</h2>
        </div>
        <!-- End Title -->
  
        <!-- Testimonials -->
        <div class="card-deck d-block d-lg-flex card-lg-gutters-2">
          <!-- Testimonials -->
          <div class="card bg-transparent border-0">
            <div class="card-body p-5">
              <ul class="list-inline text-warning small">
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
              </ul>
              <div class="mb-auto">
                <p class="mb-0">Pockt gave me the leverage that I needed to launch a social shop in my free time. No setup fees or laborious paper work!</p>
              </div>
            </div>
  
            <div class="card-footer border-0 bg-transparent pt-0 px-5 pb-5">
              <div class="media">
                <div class="u-avatar mr-3">
                  <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img2.jpg" alt="Image Description">
                </div>
                <div class="media-body">
                  <h4 class="h6 mb-1">Maria Muszynska</h4>
                  <small class="d-block text-secondary">Business Manager</small>
                </div>
              </div>
            </div>
          </div>
          <!-- End Testimonials -->
  
          <!-- Testimonials -->
          <div class="card border-0 bg-primary text-white shadow-primary-lg">
            <div class="card-body p-5">
              <ul class="list-inline text-warning small">
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
              </ul>
              <div class="mb-auto">
                <p class="text-white mb-0">I have gotten so many international customers ever since I started using my personal link in my facebook Ads! </p>
              </div>
            </div>
  
            <div class="card-footer border-0 bg-primary text-white pt-0 px-5 pb-5">
              <div class="media">
                <div class="u-avatar mr-3">
                  <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img11.jpg" alt="Image Description">
                </div>
                <div class="media-body">
                  <h4 class="h6 mb-1">Sarah Miller</h4>
                  <small class="d-block text-light">Sarah Paints Pets</small>
                </div>
              </div>
            </div>
          </div>
          <!-- End Testimonials -->
  
          <!-- Testimonials -->
          <div class="card bg-transparent border-0">
            <div class="card-body p-5">
              <ul class="list-inline text-warning small">
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
                <li class="list-inline-item mx-0">
                  <span class="fas fa-star"></span>
                </li>
              </ul>
              <div class="mb-auto">
                <p class="mb-0">I love the genuine care and handholding I received from the team at Pockt. They don't make you free less than because you can't code.</p>
              </div>
            </div>
  
            <div class="card-footer border-0 bg-transparent pt-0 px-5 pb-5">
              <div class="media">
                <div class="u-avatar mr-3">
                  <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img4.jpg" alt="Image Description">
                </div>
                <div class="media-body">
                  <h4 class="h6 mb-1">Mark McManus</h4>
                  <small class="d-block text-secondary">Printit Graphics</small>
                </div>
              </div>
            </div>
          </div>
          <!-- End Testimonials -->
        </div>
        <!-- End Testimonials -->
      </div>
    </div>
    <!-- End Testimonials Section -->
  
    <!-- Clients Section -->
    <div class="container">
      <div class="row align-items-lg-center">
        <div class="col-md-7 col-lg-8 mb-5 mb-md-0">
          <!-- Clients Section -->
          <div class="row justify-content-center border-top space-top-2">
            <div class="col-4 col-lg-2 mb-4 mb-lg-0">
              <div class="mx-2">
                <img class="u-clients" src="../../assets/svg/clients-logo/slack.svg" alt="Image Description">
              </div>
            </div>
            <div class="col-4 col-lg-2 mb-4 mb-lg-0">
              <div class="mx-2">
                <img class="u-clients" src="../../assets/svg/clients-logo/google.svg" alt="Image Description">
              </div>
            </div>
            <div class="col-4 col-lg-2 mb-4 mb-lg-0">
              <div class="mx-2">
                <img class="u-clients" src="../../assets/svg/clients-logo/spotify.svg" alt="Image Description">
              </div>
            </div>
            <div class="col-4 col-lg-2 mb-4 mb-lg-0">
              <div class="mx-2">
                <img class="u-clients" src="../../assets/svg/clients-logo/airbnb.svg" alt="Image Description">
              </div>
            </div>
            <div class="col-4 col-lg-2 mb-4 mb-lg-0">
              <div class="mx-2">
                <img class="u-clients" src="../../assets/svg/clients-logo/shopify.svg" alt="Image Description">
              </div>
            </div>
            <div class="col-4 col-lg-2 mb-4 mb-lg-0">
              <div class="mx-2">
                <img class="u-clients" src="../../assets/svg/clients-logo/netflix.svg" alt="Image Description">
              </div>
            </div>
          </div>
          <!-- End Clients Section -->
        </div>
  
        <div class="col-md-5 col-lg-4">
          <div class="pl-md-4">
            <span class="d-block display-3 text-primary font-weight-medium text-lh-sm">10X</span>
            <p>All you need to start a social shop with no capital is a pockt payment link. Grab your link today and increase your value</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Clients Section -->
  
    <!-- How To Section -->
    <div class="container space-2 space-top-lg-4 space-bottom-lg-3">
      <!-- Title -->
      <div class="w-lg-50 text-center mx-lg-auto mb-5">
        <h2 class="font-weight-medium mb-4">Frictionless & Secure,<br>1 click integration</h2>
        <p>Add pockt to your existing payments processing stack to offer simpler, more secure checkout in your apps and websites. Digitize everything from boarding passes to loyalty programs</p>
      </div>
      <!-- End Title -->
  
      <!-- Fancybox -->
      <div class="text-center mx-auto mb-11">
        <a class="js-fancybox" href="javascript:;" data-src="//youtube.com/j8uxIKcxArA" data-speed="700"
          data-animate-in="zoomIn" data-animate-out="zoomOut" data-caption="Front - Responsive Website Template">
          <span class="fas fa-play-circle align-middle text-primary font-size-3 mr-2"></span>
          See how your info is protected
        </a>
      </div>
      <!-- End Fancybox -->
  
      <!-- Icon Blocks Section -->
      <div class="row justify-content-md-center mb-11">
        <div class="col-md-4 col-lg-3 mb-9 mb-lg-0">
          <!-- Icon Block -->
          <div class="u-indicator-dots text-center px-lg-4">
            <figure id="icon48" class="svg-preloader ie-height-72 max-width-10 mx-auto mb-3">
              <img class="js-svg-injector" src="../../assets/svg/icons/icon-48.svg" alt="SVG" data-parent="#icon48">
            </figure>
            <h4 class="h6">Create an account</h4>
          </div>
          <!-- End Icon Block -->
        </div>
  
        <div class="col-md-4 col-lg-3 mb-9 mb-lg-0">
          <!-- Icon Block -->
          <div class="u-indicator-dots text-center px-lg-4">
            <figure id="icon39" class="svg-preloader ie-height-72 max-width-10 mx-auto mb-3">
              <img class="js-svg-injector" src="../../assets/svg/icons/icon-39.svg" alt="SVG" data-parent="#icon39">
            </figure>
            <h4 class="h6">Link your bank account</h4>
          </div>
          <!-- End Icon Block -->
        </div>
  
        <div class="col-md-4 col-lg-3">
          <!-- Icon Block -->
          <div class="text-center px-lg-4">
            <figure id="icon20" class="svg-preloader ie-height-72 max-width-10 mx-auto mb-3">
              <img class="js-svg-injector" src="../../assets/svg/icons/icon-20.svg" alt="SVG" data-parent="#icon20">
            </figure>
            <h4 class="h6">Your account is validated</h4>
          </div>
          <!-- End Icon Block -->
        </div>
      </div>
      <!-- End Icon Blocks Section -->
  
      <div class="max-width-50 mx-auto">
        <img class="img-fluid" src="../../assets/svg/illustrations/visa-card.svg" alt="Image Description">
      </div>
    </div>
    <!-- End How To Section -->
  
    <!-- CTA Section -->
    <div id="SVGCTA" class="svg-preloader position-relative">
      <div class="container space-2">
        <div class="row justify-content-lg-between align-items-lg-center text-center text-lg-left">
          <div class="col-lg-5 mb-5 mb-lg-0">
            <h3 class="h2 text-white font-weight-semi-bold mb-0">Start accepting payments in minutes</h3>
          </div>
  
          <div class="col-lg-5 text-lg-right">
            <a class="btn btn-indigo btn-wide btn-pill transition-3d-hover mr-3" href="#">Get Started</a>
            <a class="btn btn-white btn-wide btn-pill text-primary shadow-soft transition-3d-hover" href="#">Learn
              More</a>
          </div>
        </div>
      </div>
  
      <!-- SVG Top Shape -->
      <div
        class="gradient-overlay-half-primary-v3 position-absolute top-0 right-0 bottom-0 left-0 z-index-n1 overflow-hidden">
        <figure class="ie-circles-cta">
          <img class="js-svg-injector d-none d-md-block" src="../../assets/svg/components/circles.svg"
            alt="Image Description" data-parent="#SVGCTA">
        </figure>
      </div>
      <!-- End SVG Top Shape -->
    </div>
    <!-- End CTA Section -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
  
  <!-- ========== FOOTER ========== -->
  <footer class="container space-2 space-top-lg-3">
    <!-- Links -->
    <div class="row mb-11">
      <div class="col-lg-3 mb-5 mb-lg-0">
        <div class="mb-4">
          <h4 class="h6 text-uppercase">Get our mobile app</h4>
        </div>
  
        <a class="btn btn-icon btn-indigo rounded-circle mr-2" href="#">
          <span class="fab fa-apple btn-icon__inner"></span>
        </a>
        <a class="btn btn-icon btn-indigo rounded-circle" href="#">
          <span class="fab fa-google-play btn-icon__inner"></span>
        </a>
      </div>
  
      <div class="col-sm-4 col-lg-3">
        <!-- List Group -->
        <ul class="list-group list-group-flush list-group-transparent list-group-borderless mb-0">
          <li><a class="list-group-item list-group-item-action" href="../pages/about-agency.html">About</a></li>
          <li><a class="list-group-item list-group-item-action" href="../pages/services-agency.html">Services</a></li>
          <li><a class="list-group-item list-group-item-action" href="../pages/careers.html">Careers <span
                class="badge badge-success badge-pill ml-1">We're hiring</span></a></li>
          <li><a class="list-group-item list-group-item-action" href="../pages/grid-right-sidebar.html">Blog</a></li>
          <li><a class="list-group-item list-group-item-action" href="../shop/classic.html">Shop with us</a></li>
        </ul>
        <!-- End List Group -->
      </div>
  
      <div class="col-sm-4 col-lg-3">
        <!-- List Group -->
        <ul class="list-group list-group-flush list-group-transparent list-group-borderless mb-0">
          <li><a class="list-group-item list-group-item-action" href="../account/dashboard.html">Account</a></li>
          <li><a class="list-group-item list-group-item-action" href="../account/my-tasks.html">My tasks</a></li>
          <li><a class="list-group-item list-group-item-action" href="../account/projects.html">Projects</a></li>
          <li><a class="list-group-item list-group-item-action" href="../account/edit-profile.html">Edit profile</a></li>
          <li><a class="list-group-item list-group-item-action" href="../account/activity.html">Activity</a></li>
        </ul>
        <!-- End List Group -->
      </div>
  
      <div class="col-sm-4 col-lg-3">
        <!-- List Group -->
        <ul class="list-group list-group-flush list-group-transparent list-group-borderless mb-0">
          <li>
            <a class="list-group-item list-group-item-action" href="../pages/pricing.html" target="_blank">
              Pricing
              <small class="fa fa-external-link-alt ml-1"></small>
            </a>
          </li>
          <li>
            <a class="list-group-item list-group-item-action" href="../pages/help.html" target="_blank">
              Help
              <small class="fa fa-external-link-alt ml-1"></small>
            </a>
          </li>
          <li>
            <a class="list-group-item list-group-item-action" href="../pages/terms.html" target="_blank">
              Terms &amp; Conditions
              <small class="fa fa-external-link-alt ml-1"></small>
            </a>
          </li>
          <li>
            <a class="list-group-item list-group-item-action" href="../pages/privacy.html" target="_blank">
              Privacy &amp; Policy
              <small class="fa fa-external-link-alt ml-1"></small>
            </a>
          </li>
        </ul>
        <!-- End List Group -->
      </div>
    </div>
    <!-- End Links -->
  
    <!-- Copyright -->
    <div class="row align-items-lg-center">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <p class="small mb-0">&copy; pockt. 2019. All rights reserved.</p>
      </div>
  
      <div class="col-lg-6 text-lg-right">
        <!-- Social Networks -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item mb-2 mb-sm-0">
            <a class="btn btn-sm btn-icon btn-soft-indigo rounded-circle" href="#">
              <span class="fab fa-facebook-f btn-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item mb-2 mb-sm-0">
            <a class="btn btn-sm btn-icon btn-soft-indigo rounded-circle" href="#">
              <span class="fab fa-google btn-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item mb-2 mb-sm-0">
            <a class="btn btn-sm btn-icon btn-soft-indigo rounded-circle" href="#">
              <span class="fab fa-twitter btn-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item mb-2 mb-sm-0">
            <a class="btn btn-sm btn-icon btn-soft-indigo rounded-circle" href="#">
              <span class="fab fa-github btn-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item mb-2 mb-sm-0">
            <a class="btn btn-sm btn-icon btn-soft-indigo rounded-circle" href="#">
              <span class="fab fa-linkedin btn-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item mb-2 mb-sm-0">
            <a class="btn btn-sm btn-icon btn-soft-indigo rounded-circle" href="#">
              <span class="fab fa-pinterest btn-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item mb-2 mb-sm-0">
            <a class="btn btn-sm btn-icon btn-soft-indigo rounded-circle" href="#">
              <span class="fab fa-youtube btn-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item mb-2 mb-sm-0">
            <a class="btn btn-sm btn-icon btn-soft-indigo rounded-circle" href="#">
              <span class="fab fa-medium-m btn-icon__inner"></span>
            </a>
          </li>
        </ul>
        <!-- End Social Networks -->
      </div>
    </div>
    <!-- End Copyright -->
  </footer>
  <!-- ========== END FOOTER ========== -->
  
  <!-- Go to Top -->
  <a class="js-go-to u-go-to" href="#" data-position='{"bottom": 15, "right": 15 }' data-type="fixed"
    data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown">
    <span class="fas fa-arrow-up u-go-to__inner"></span>
  </a>
