<header id="header" class="u-header">
  <div class="u-header__section">
    <div class="container u-header__hide-content pt-2">
      <div class="d-flex align-items-center">
        <div class="position-relative">
          <a id="languageDropdownInvoker" class="dropdown-nav-link dropdown-toggle d-flex align-items-center"
            href="javascript:;" role="button" aria-controls="languageDropdown" aria-haspopup="true"
            aria-expanded="false" data-unfold-event="hover" data-unfold-target="#languageDropdown"
            data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300"
            data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp" data-unfold-animation-out="fadeOut">
            <img class="dropdown-item-icon" src="../../../assets/vendor/flag-icon-css/flags/4x3/us.svg" alt="SVG">
            <span class="d-inline-block d-sm-none">US</span>
            <span class="d-none d-sm-inline-block">United States</span>
          </a>

          <div id="languageDropdown" class="dropdown-menu dropdown-unfold" aria-labelledby="languageDropdownInvoker">
            <a class="dropdown-item active" href="#">English</a>
            <a class="dropdown-item" href="#">Deutsch</a>
            <a class="dropdown-item" href="#">Español‎</a>
          </div>
        </div>

        <div class="ml-auto">
          <div class="d-inline-block d-sm-none position-relative mr-2">
            <a id="jumpToDropdownInvoker" class="dropdown-nav-link dropdown-toggle d-flex align-items-center"
              href="javascript:;" role="button" aria-controls="jumpToDropdown" aria-haspopup="true"
              aria-expanded="false" data-unfold-event="hover" data-unfold-target="#jumpToDropdown"
              data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300"
              data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp"
              data-unfold-animation-out="fadeOut">
              Jump to
            </a>

            <div id="jumpToDropdown" class="dropdown-menu dropdown-unfold" aria-labelledby="jumpToDropdownInvoker">
              <a class="dropdown-item" href="../pages/help.html">Help</a>
              <a class="dropdown-item" href="../pages/contacts-agency.html">Contacts</a>
            </div>
          </div>
          <div class="d-none d-sm-inline-block ml-sm-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-0">
                <a class="u-header__navbar-link" href="../pages/help.html">Terms</a>
              </li>
              <li class="list-inline-item mr-0">
                <a class="u-header__navbar-link" href="../pages/contacts-agency.html">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>

        <ul class="list-inline ml-2 mb-0">
          <li class="list-inline-item">
            <a id="sidebarNavToggler" class="btn btn-xs btn-text-secondary u-sidebar--account__toggle-bg ml-1"
              href="javascript:;" role="button" aria-controls="sidebarContent" aria-haspopup="true"
              aria-expanded="false" data-unfold-event="click" data-unfold-hide-on-scroll="false"
              data-unfold-target="#sidebarContent" data-unfold-type="css-animation"
              data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight"
              data-unfold-duration="500">
              <span class="position-relative">
                <span class="u-sidebar--account__toggle-text">Natalie Curtis</span>
                <img class="u-sidebar--account__toggle-img" src="../../../assets/img/100x100/img1.jpg"
                  alt="Image Description">
                <span class="badge badge-sm badge-success badge-pos rounded-circle">3</span>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Topbar -->

    <div id="logoAndNav" class="container">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
        <!-- Logo -->
        <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center" href="../home/index.html"
          aria-label="Pockt">
          <img src="../../../assets/images/pockt.png" alt="">
        </a>
        <!-- End Logo -->

        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn u-hamburger" aria-label="Toggle navigation"
          aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
          <span id="hamburgerTrigger" class="u-hamburger__box">
            <span class="u-hamburger__inner"></span>
          </span>
        </button>
        <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
          <ul class="navbar-nav u-header__navbar-nav">
            <li class="nav-item u-header__nav-item" data-event="hover">
              <a id="homeMegaMenu" class="nav-link u-header__nav-link" [routerLink]="['/dashboard']" aria-haspopup="true"
                aria-expanded="false">Dashboard</a>
            </li>
            <li class="nav-item u-header__nav-item" data-event="hover">
              <a id="homeMegaMenu" class="nav-link u-header__nav-link" [routerLink]="['/activity']" aria-haspopup="true"
                aria-expanded="false">Activity</a>
            </li>
            <li class="nav-item u-header__nav-item" data-event="hover">
              <a id="homeMegaMenu" class="nav-link u-header__nav-link" [routerLink]="['/links']" aria-haspopup="true"
                aria-expanded="false">Links</a>
            </li>
            <li class="nav-item u-header__nav-item" data-event="hover">
              <a id="homeMegaMenu" class="nav-link u-header__nav-link" [routerLink]="['/edit-profile']" aria-haspopup="true"
                aria-expanded="false">Settings</a>
            </li>
            <!-- <li class="nav-item u-header__nav-last-item">
              <a class="btn btn-sm btn-primary transition-3d-hover"
                href="https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/" target="_blank">
                Logout
              </a>
            </!-->
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
